.posts{
    width: 100%;
    background-color: #fff;
    margin-top: 17px;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}
.posts .post__image img{
    width: 100%;
}
.posts .post-top{
    display: flex;
    padding: 16px;
    justify-content: space-between;
}
.top_info,.comment_section{
    display: flex;
}
.posts .post__topinfo{
    padding-left: 5px;
}
.posts .post__topinfo > p {
    font-size: smaller;
    color: grey;
}
.posts .post_message{
    padding-left: 16px;
}
.posts .post_message > p{
    font-size: smaller;
}
.likesection img:nth-child(1){
    width: 35px;
    z-index: 1;
}
.likesection img:nth-child(2){
    width:25px;
    z-index: 2;
}
.post_bottom{
    margin: 10px;
}
.like_section{
    justify-content: space-between;
    display: flex;
}
.like_section button{
    padding: 8px 55px 8px 55px;
    border: none;
    border-radius: 10px;
}
.like_section button:hover{
    background-color: #ccc;
    border-radius: 9px;
}
.comment_section > input{
    background-color: #E4E6E9;
    height: 40px;
    width: 100%;
    border-radius: 45px;
    border: none;
    padding-left: 10px;
    font-size: initial;
    margin-left: 3px;
}
#morehorizonvert{
    width: 40px;
    height: 40px;
}
.comment_icons{
    position: absolute;
}