.storyreel{
    border-radius: 13px;
    height: 198px;
    width: 112px;
    background-color: white;
    padding-right: 21px;
    margin-right: 9px;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}
.moreStories{
    position: absolute;
    left: 70%;
    top: 24%;
}
.moreStories > .MuiSvgIcon-root{
    padding: 30px;
   
}