.widgets{
  margin-top: 20px;
    font-weight: bolder;
    font-size: larger;
    position: fixed;
    margin-left: 77%;
    width: 100%;
    height: 100%;
}
.widgets:hover{
  overflow-y: scroll;
}
.widgets .sponsor .item-one{
    margin: 5px;
    padding: 8px;
}
.widgets .sponsor .item-one:hover{
    background-color: #e4e6e9;
    border-radius: 5px;
}
.item-one{
  font-size: small;
}
.contact-header{
  justify-content: space-around;
}
.contact-icons{
  padding-left: 8%;
}
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bcc0c4; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #bcc0c4; 
  }